body {
	background-color: #63aad1;
}

.nav-container{
	background-color: #FFA840;
	width: 100%;
	position: fixed;
	left: 0px;
	padding: 0px;
	top: 0px;
}
nav {
	text-align: center;
	width: 900px;
	margin: 0px auto;
}
nav ul {
	padding: 0px;
}
nav ul  p {
	text-align: left;
}
nav li {
	width: 24%;
	display: inline;
	font-size: 20px;
}
nav li a {
    font-size: 25px;
	font-family: 'Inder', sans-serif;
    color: white; 
}
nav li a.active {
    color: #aaaaaa; 
}
nav ul .about{
	font-size: 25px;
	font-family: 'Inder', sans-serif;
    color: white;
}
@media screen and (max-width: 640px) {
	nav {
		width: 90%; 
	}
	nav li a {
		font-size: 18px; 
	} 
}

.content {
	padding-top: 50px;
	text-align: center;
}

p {
	font-size: 30px;
	font-family: 'Sniglet', cursive;
	bottom: 5px;
}

h1 {
	font-size: 50px;
	font-family: 'Sniglet', cursive;
	bottom: 5px;
}